{"openapi":"3.1.0","info":{"title":"MpesaFlow API","description":"MpesaFlow streamlines online M-Pesa payments for businesses and developers, offering intuitive APIs, SDKs, and a dashboard for transaction management.","version":"1.0.0","contact":{"name":"MpesaFlow Support","email":"support@mpesaflow.com","url":"https://mpesaflow.com"}},"servers":[{"url":"https://api.mpesaflow.dev","description":"Production server"}],"security":[{"token":[]}],"tags":[{"name":"Customers","description":"Everything about customers in the business"},{"name":"Transactions","description":"Everything about transactions in the business"},{"name":"Express","description":"Everything about express in the business"}],"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":60000,"maxElapsedTime":3600000,"exponent":1.5},"statusCodes":["5XX"],"retryConnectionErrors":true},"x-speakeasy-errors":{"statusCodes":["4XX","5XX"]},"components":{"securitySchemes":{"token":{"type":"http","scheme":"bearer","description":"The API key to use for authentication","x-speakeasy-example":"MPESAFLOW_API_KEY"}},"schemas":{"CustomerId":{"type":"string","example":"cus_GqfKXLmg61LURZhB","description":"The customer id"},"Environment":{"type":"string","enum":["development","production"],"default":"development","description":"The environment of the business","example":"development"},"CustomerPhoneNumber":{"type":"string","minLength":10,"maxLength":12,"example":"254712345678","description":"The customer's phone number"},"CustomerResponse":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/CustomerId"},"object":{"type":"string","example":"customer"},"environment":{"$ref":"#/components/schemas/Environment"},"name":{"type":"string","nullable":true,"example":"John Doe","description":"The name of the customer"},"phoneNumber":{"$ref":"#/components/schemas/CustomerPhoneNumber"},"createdAt":{"type":"string","example":"2021-01-01T00:00:00Z","description":"The date and time the customer was created in ISO 8601 format"},"lastActiveAt":{"type":"string","nullable":true,"example":"2021-01-01T00:00:00Z","description":"The date and time the customer was last active at in ISO 8601 format"}},"required":["id","object","name","phoneNumber","createdAt","lastActiveAt"]},"PaginatedData":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CustomerResponse"}},"meta":{"type":"object","properties":{"cursor":{"type":"string","nullable":true,"example":"eyJpZCI6IjEyMyJ9","description":"Cursor for pagination, representing the last item from the previous page"},"hasPreviousPage":{"type":"boolean","example":false},"hasNextPage":{"type":"boolean","example":true}},"required":["cursor","hasPreviousPage","hasNextPage"]}},"required":["data","meta"]},"MissingApiKeyError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":401},"code":{"type":"string","description":"Machine-readable error name","example":"missing_api_key"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"Missing API key in the authorization header."}},"required":["status","code","message"]}},"required":["error"]},"InvalidApiKeyError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":403},"code":{"type":"string","description":"Machine-readable error name","example":"invalid_api_key"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"API key is invalid."}},"required":["status","code","message"]}},"required":["error"]},"ValidationError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":422},"code":{"type":"string","description":"Machine-readable error name","example":"validation_error"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"We found an error with one or more fields in the request."},"validation":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"The name of the field that failed validation","example":"email"},"message":{"type":"string","description":"The validation error message for the field","example":"Invalid email format"},"expected":{"type":"string","description":"The expected type or format for the field","example":"string"}},"required":["field","message","expected"]},"description":"List of field-specific validation issues","example":[{"field":"email","message":"Invalid email format","expected":"valid_email"},{"field":"age","message":"Expected number, received string","expected":"number"}]}},"required":["status","code","message","validation"]}},"required":["error"]},"TooManyRequestsError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":429},"code":{"type":"string","description":"Machine-readable error name","example":"too_many_requests"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"Too many requests, please try again later."}},"required":["status","code","message"]}},"required":["error"]},"InternalServerError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":500},"code":{"type":"string","description":"Machine-readable error name","example":"internal_server_error"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"An unexpected error occurred."}},"required":["status","code","message"]}},"required":["error"]},"NotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":404},"code":{"type":"string","description":"Machine-readable error name","example":"not_found"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"The requested endpoint does not exist."}},"required":["status","code","message"]}},"required":["error"]}},"parameters":{}},"paths":{"/customers":{"get":{"tags":["Customers"],"summary":"List all customers","description":"Get a list of all customers in the business","operationId":"listCustomers","security":[{"token":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"cursor","inputs":[{"name":"cursor","in":"parameters","type":"cursor"},{"name":"limit","in":"parameters","type":"limit"}],"outputs":{"nextCursor":"$.next_cursor"}},"parameters":[{"schema":{"type":"string","nullable":true,"example":"John Doe","description":"Search for a customer by name or phone number"},"required":false,"description":"Search for a customer by name or phone number","in":"query","name":"q"},{"schema":{"type":"string","nullable":true,"example":"eyJpZCI6IjEyMyJ9","description":"Cursor for pagination, representing the last item from the previous page"},"required":false,"description":"Cursor for pagination, representing the last item from the previous page","in":"query","name":"cursor"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":10,"example":10,"description":"The number of customers to return (1-100)"},"required":false,"description":"The number of customers to return (1-100)","in":"query","name":"limit"},{"schema":{"type":"string","nullable":true,"description":"Start date (inclusive) for filtering customers in ISO 8601 format","example":"2024-04-01T00:00:00.000Z"},"required":false,"description":"Start date (inclusive) for filtering customers in ISO 8601 format","name":"start","in":"query"},{"schema":{"type":"string","nullable":true,"description":"End date (inclusive) for filtering customers in ISO 8601 format","example":"2024-04-30T23:59:59.999Z"},"required":false,"description":"End date (inclusive) for filtering customers in ISO 8601 format","name":"end","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc","example":"desc"},"required":false,"in":"query","name":"sortOrder"},{"schema":{"type":"string","enum":["id","name","phoneNumber","createdAt","lastActiveAt"],"default":"createdAt","example":"createdAt"},"required":false,"in":"query","name":"sortField"}],"responses":{"200":{"description":"List of all customers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedData"}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Sever Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}},"post":{"tags":["Customers"],"summary":"Create a customer","description":"Create a customer in the business","operationId":"create","x-speakeasy-name-override":"create","security":[{"token":[]}],"requestBody":{"description":"Create a customer","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","nullable":true,"example":"John Doe","description":"The name of the customer"},"phoneNumber":{"$ref":"#/components/schemas/CustomerPhoneNumber"}},"required":["name","phoneNumber"]}}}},"responses":{"200":{"description":"Get One Customer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Sever Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/customers/{id}":{"get":{"tags":["Customers"],"summary":"Get a customer","description":"Get a customer by their ID in the business","operationId":"getCustomer","x-speakeasy-name-override":"getOne","security":[{"token":[]}],"parameters":[{"schema":{"$ref":"#/components/schemas/CustomerId"},"required":true,"description":"The customer id","name":"id","in":"path"}],"responses":{"200":{"description":"Get One Customer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"404":{"description":"Customer Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"422":{"description":"Invalid Customer Id Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Sever Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}},"patch":{"tags":["Customers"],"summary":"Update a customer","description":"Update a customer in the business","operationId":"update","x-speakeasy-name-override":"update","security":[{"token":[]}],"parameters":[{"schema":{"$ref":"#/components/schemas/CustomerId"},"required":true,"description":"The customer id","name":"id","in":"path"}],"requestBody":{"description":"Update a customer","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","nullable":true,"example":"John Doe","description":"The name of the customer"},"phoneNumber":{"$ref":"#/components/schemas/CustomerPhoneNumber"}}}}}},"responses":{"200":{"description":"Get One Customer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Sever Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}},"delete":{"tags":["Customers"],"summary":"Delete a customer","description":"Delete a customer by their ID in the business","operationId":"delete","x-speakeasy-name-override":"delete","security":[{"token":[]}],"parameters":[{"schema":{"$ref":"#/components/schemas/CustomerId"},"required":true,"description":"The customer id","name":"id","in":"path"}],"responses":{"200":{"description":"Customer deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerId"}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"404":{"description":"Customer Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"422":{"description":"Invalid Customer Id Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Sever Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}}}}