{"openapi":"3.1.0","info":{"title":"MpesaFlow API","description":"MpesaFlow streamlines online M-Pesa payments for businesses and developers, offering intuitive APIs, SDKs, and a dashboard for transaction management.","version":"1.0.0","contact":{"name":"MpesaFlow Support","email":"support@mpesaflow.com","url":"https://mpesaflow.com"}},"servers":[{"url":"https://api.mpesaflow.dev","description":"Production server"}],"security":[{"token":[]}],"tags":[{"name":"Customers","description":"Everything about customers in the business"},{"name":"Transactions","description":"Everything about transactions in the business"},{"name":"Express","description":"Everything about express in the business"}],"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":60000,"maxElapsedTime":3600000,"exponent":1.5},"statusCodes":["5XX"],"retryConnectionErrors":true},"x-speakeasy-errors":{"statusCodes":["4XX","5XX"]},"components":{"securitySchemes":{"token":{"type":"http","scheme":"bearer","description":"The API key to use for authentication","x-speakeasy-example":"MPESAFLOW_API_KEY"}},"schemas":{"CustomerId":{"type":"string","description":"The customer id","example":"cus_GqfKXLmg61LURZhB"},"Environment":{"type":"string","enum":["development","production"],"default":"development","description":"The environment of the business","example":"development"},"CustomerPhoneNumber":{"type":"string","minLength":10,"maxLength":12,"description":"The customer's phone number","example":"254712345678"},"CustomerResponse":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/CustomerId"},"object":{"type":"string","example":"customer"},"environment":{"$ref":"#/components/schemas/Environment"},"name":{"type":"string","nullable":true,"description":"The name of the customer","example":"John Doe"},"phoneNumber":{"$ref":"#/components/schemas/CustomerPhoneNumber"},"createdAt":{"type":"string","description":"The date and time the customer was created in ISO 8601 format","example":"2021-01-01T00:00:00Z"},"lastActiveAt":{"type":"string","nullable":true,"description":"The date and time the customer was last active at in ISO 8601 format","example":"2021-01-01T00:00:00Z"}},"required":["id","object","name","phoneNumber","createdAt","lastActiveAt"]},"MissingApiKeyError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error name","example":"missing_api_key"},"status":{"type":"number","description":"HTTP status code of the error","example":401},"message":{"type":"string","description":"Human-readable error message","x-speakeasy-error-message":true,"example":"Missing API key in the authorization header."}},"required":["code","status","message"]}},"required":["error"]},"InvalidApiKeyError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error name","example":"invalid_api_key"},"status":{"type":"number","description":"HTTP status code of the error","example":403},"message":{"type":"string","description":"Human-readable error message","x-speakeasy-error-message":true,"example":"API key is invalid."}},"required":["code","status","message"]}},"required":["error"]},"ValidationError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error name","example":"validation_error"},"status":{"type":"number","description":"HTTP status code of the error","example":422},"message":{"type":"string","description":"Human-readable error message","x-speakeasy-error-message":true,"example":"We found an error with one or more fields in the request."},"validation":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"The name of the field that failed validation","example":"email"},"message":{"type":"string","description":"The validation error message for the field","example":"Invalid email format"}},"required":["field","message"]},"description":"List of field-specific validation issues","example":[{"field":"email","message":"Invalid email format"},{"field":"name","message":"Name is required"}]}},"required":["code","status","message","validation"]}},"required":["error"]},"TooManyRequestsError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error name","example":"too_many_requests"},"status":{"type":"number","description":"HTTP status code of the error","example":429},"message":{"type":"string","description":"Human-readable error message","x-speakeasy-error-message":true,"example":"Too many requests, please try again later."}},"required":["code","status","message"]}},"required":["error"]},"InternalServerError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error name","example":"internal_server_error"},"status":{"type":"number","description":"HTTP status code of the error","example":500},"message":{"type":"string","description":"Human-readable error message","x-speakeasy-error-message":true,"example":"An unexpected error occurred."}},"required":["code","status","message"]}},"required":["error"]},"NotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error name","example":"not_found"},"status":{"type":"number","description":"HTTP status code of the error","example":404},"message":{"type":"string","description":"Human-readable error message","x-speakeasy-error-message":true,"example":"The requested endpoint does not exist."}},"required":["code","status","message"]}},"required":["error"]},"TransactionId":{"type":"string","minLength":4,"maxLength":255,"description":"The transaction id","example":"trxn_YGZBY32PBBavYbhL"},"TransactionType":{"type":"string","enum":["payment","donation"],"default":"payment","description":"The type of transaction","example":"payment"},"TransactionResponse":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/TransactionId"},"customerId":{"type":"string","nullable":true,"description":"The customer id","example":"cus_GqfKXLmg61LURZhB"},"object":{"type":"string","example":"transaction"},"environment":{"$ref":"#/components/schemas/Environment"},"type":{"$ref":"#/components/schemas/TransactionType"},"amount":{"type":"string","description":"The transaction amount","example":"1000"},"currency":{"type":"string","description":"The transaction currency","example":"KES"},"status":{"type":"string","enum":["completed","failed","pending"],"description":"The transaction status","example":"completed"},"phoneNumber":{"$ref":"#/components/schemas/CustomerPhoneNumber"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"default":{},"description":"The transaction metadata","example":{"orderId":"abc123","campaign":"giveback-2025"}},"failureReason":{"type":"string","nullable":true,"description":"The transaction decline reason","example":"Insufficient balance"},"createdAt":{"type":"string","description":"The transaction creation date in ISO 8601 format","example":"2021-01-01T00:00:00Z"},"paidAt":{"type":"string","nullable":true,"description":"The transaction paid date in ISO 8601 format","example":"2021-01-01T00:00:00Z"},"failedAt":{"type":"string","nullable":true,"description":"The transaction failed date in ISO 8601 format","example":"2021-01-01T00:00:00Z"}},"required":["id","customerId","object","amount","currency","status","phoneNumber","metadata","failureReason","createdAt","paidAt","failedAt"],"example":{"id":"trxn_YGZBY32PBBavYbhL","customerId":"cus_GqfKXLmg61LURZhB","object":"transaction","environment":"development","type":"payment","amount":"1000","currency":"KES","status":"completed","phoneNumber":"254712345678","metadata":{},"failureReason":null,"createdAt":"2021-01-01T00:00:00Z","paidAt":"2021-01-01T00:00:00Z","failedAt":null}}},"parameters":{}},"paths":{"/customers":{"get":{"tags":["Customers"],"summary":"List all customers","description":"Get a list of all customers in the business","operationId":"listCustomers","security":[{"token":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"cursor","inputs":[{"name":"cursor","in":"parameters","type":"cursor"},{"name":"limit","in":"parameters","type":"limit"}],"outputs":{"nextCursor":"$.next_cursor"}},"parameters":[{"schema":{"type":"string","description":"Search for a customer by name or phone number","example":"John Doe"},"required":false,"in":"query","name":"q"},{"schema":{"type":"string","description":"Cursor for pagination, representing the last item from the previous page","example":"eyJpZCI6IjEyMyJ9"},"required":false,"in":"query","name":"cursor"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":10,"description":"The number of customers to return (1-100)","example":10},"required":false,"in":"query","name":"limit"},{"schema":{"type":"string","nullable":true,"description":"Start date (inclusive) for filtering customers in ISO 8601 format","example":"2024-04-01T00:00:00.000Z"},"required":false,"name":"start","in":"query"},{"schema":{"type":"string","nullable":true,"description":"End date (inclusive) for filtering customers in ISO 8601 format","example":"2024-04-30T23:59:59.999Z"},"required":false,"name":"end","in":"query"},{"schema":{"type":"array","items":{"anyOf":[{"type":"string","enum":["id","name","phoneNumber","createdAt","lastActiveAt"]},{"type":"string","enum":["asc","desc"]}]},"minItems":2,"maxItems":2,"default":["createdAt","desc"],"description":"Sorting order as a tuple: [field, direction]. Available fields: id, name, phoneNumber, createdAt, lastActiveAt","example":["createdAt","desc"]},"required":false,"in":"query","name":"sort"}],"responses":{"200":{"description":"List of all customers","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CustomerResponse"}},"next_cursor":{"type":"string","nullable":true,"description":"Cursor for pagination, representing the last item from the previous page","example":"eyJpZCI6IjEyMyJ9"},"limit":{"type":"number","minimum":1,"maximum":100,"default":10,"description":"The number of data to return (1-100)","example":10}},"required":["data","next_cursor"]}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Sever Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/customers/{id}":{"get":{"tags":["Customers"],"summary":"Get a customer","description":"Get a customer by their ID in the business","operationId":"getCustomer","x-speakeasy-name-override":"getOne","security":[{"token":[]}],"parameters":[{"schema":{"$ref":"#/components/schemas/CustomerId"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Get One Customer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"404":{"description":"Customer Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"422":{"description":"Invalid Customer Id Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Sever Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/express":{"post":{"tags":["Express"],"description":"Simulate Daraja express payment","summary":"Simulate Daraja express payment","operationId":"express","x-speakeasy-name-override":"pay","x-speakeasy-usage-example":true,"security":[{"token":[]}],"requestBody":{"description":"The payment body details","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"phoneNumber":{"$ref":"#/components/schemas/CustomerPhoneNumber"},"amount":{"type":"string","pattern":"^\\d+(\\.\\d{1,2})?$","description":"The amount being paid. Must be a number (e.g., 100 or 100.50)","example":"100.00"},"transactionDesc":{"type":"string","minLength":1,"maxLength":13,"description":"The description of the transaction","example":"mpesaflow"},"type":{"$ref":"#/components/schemas/TransactionType"},"customerName":{"type":"string","minLength":1,"maxLength":100,"description":"The name of the customer","example":"John Doe"},"accountReference":{"type":"string","maxLength":12,"pattern":"^[a-zA-Z0-9]+$","description":"The account refernce of the business. it can be the name of the business","example":"mpesaflow"},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["phoneNumber","amount","transactionDesc"]}}}},"responses":{"200":{"description":"Payment Response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["completed","failed"],"description":"The status of the transaction","example":"completed"},"message":{"type":"string","description":"The response message of the payment","example":"Transaction completed successfully"},"amount":{"type":"string","pattern":"^\\d+(\\.\\d{1,2})?$","description":"The amount being paid. Must be a number (e.g., 100 or 100.50)","example":"100.00"},"phoneNumber":{"$ref":"#/components/schemas/CustomerPhoneNumber"},"transactionId":{"$ref":"#/components/schemas/TransactionId"},"type":{"$ref":"#/components/schemas/TransactionType"},"timestamp":{"type":"string","description":"The date and time at with the payment was paidAt or failedAt in ISO 8601 format","example":"2025-07-13T18:10:00Z"}},"required":["status","message","amount","phoneNumber","transactionId","timestamp"]}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Sever Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/transactions":{"get":{"tags":["Transactions"],"summary":"List Transactions","description":"List of all transactions in the business","operationId":"listTransactions","security":[{"token":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"cursor","inputs":[{"name":"cursor","in":"parameters","type":"cursor"},{"name":"limit","in":"parameters","type":"limit"}],"outputs":{"nextCursor":"$.next_cursor"}},"parameters":[{"schema":{"type":"string","description":"Search for a transaction by customer name, phone number, or transaction id","example":"John Doe"},"required":false,"name":"q","in":"query"},{"schema":{"type":"string","description":"Cursor for pagination, representing the last item from the previous page","example":"eyJpZCI6IjEyMyJ9"},"required":false,"in":"query","name":"cursor"},{"schema":{"type":"string","description":"The customer id","example":"cus_12345"},"required":false,"name":"customerId","in":"query"},{"schema":{"type":"array","items":{"type":"string","enum":["completed","failed","pending"]},"description":"Array of transaction statuses to filter by. Available statuses: 'pending', 'completed', 'failed'","example":["pending","completed"]},"required":false,"name":"statuses","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"number","nullable":true},"description":"Amount range as [min, max] to filter transactions by monetary value","example":[100,1000]},"required":false,"name":"amountRange","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string"},"description":"Array of specific amounts (as strings) to filter transactions by exact values","example":["150.75","299.99"]},"required":false,"name":"amount","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":10,"description":"The number of transactions to return (1-100)","example":10},"required":false,"in":"query","name":"limit"},{"schema":{"type":"string","nullable":true,"description":"Start date (inclusive) for filtering transactions in ISO 8601 format","example":"2024-04-01T00:00:00.000Z"},"required":false,"name":"start","in":"query"},{"schema":{"type":"string","nullable":true,"description":"End date (inclusive) for filtering transactions in ISO 8601 format","example":"2024-04-30T23:59:59.999Z"},"required":false,"name":"end","in":"query"},{"schema":{"type":"array","items":{"anyOf":[{"type":"string","enum":["id","customerId","type","amount","currency","status","phoneNumber","failureReason","createdAt","paidAt","failedAt"]},{"type":"string","enum":["asc","desc"]}]},"minItems":2,"maxItems":2,"default":["createdAt","desc"],"description":"Sorting order as a tuple: [field, direction]. Available fields: id, amount, status, createdAt, paidAt, failedAt. Direction must be: asc, desc","example":["createdAt","desc"]},"required":false,"in":"query","name":"sort"}],"responses":{"200":{"description":"List of all transactions","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TransactionResponse"}},"next_cursor":{"type":"string","nullable":true,"description":"Cursor for pagination, representing the last item from the previous page","example":"eyJpZCI6IjEyMyJ9"},"limit":{"type":"number","minimum":1,"maximum":100,"default":10,"description":"The number of data to return (1-100)","example":10}},"required":["data","next_cursor"]}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/transactions/{id}":{"get":{"tags":["Transactions"],"summary":"Get Transaction","description":"Get a transaction in the  business","operationId":"getTransaction","x-speakeasy-name-override":"getOne","security":[{"token":[]}],"parameters":[{"schema":{"$ref":"#/components/schemas/TransactionId"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Get One Transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"401":{"description":"Missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"404":{"description":"Transaction Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"422":{"description":"Invalid Transaction Id Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"429":{"description":"Too many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequestsError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}}}}